body {
    margin: 0;
    padding: 0;
    background: url(../img/fondo.jpg) no-repeat center top;
    background-size: cover;
    font-family: MV Boli;
    height: 100vh;
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
  }

  .login-box2 {
    width: 400px;
    height: 250px;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    top: 50%;
    left: 165%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 20px;
  }
 
  
  .login-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(0, 255, 242);
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }
  
  .login-box input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #494949;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    background:-webkit-linear-gradient(top,rgb(111, 122, 126),#007095);
      border-radius:30px;
      float:left;
      font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
      font-size:18px;
      color:#FFF;
      text-align:center;
      text-decoration:none;
      margin-right:23px;
      padding-top:10px;
      position:relative;
      transition:transform 0.4s;
      -moz-transition:-moz-transform 0.4s;
      -ms-transition:-ms-transform 0.4s;
      -o-transition:-o-transform 0.4s;
      -webkit-transition:-webkit-transform 0.4s;
  }
  
  .login-box input[type="button"]:hover {
    cursor: pointer;
    background:-webkit-linear-gradient(top,rgb(58, 58, 58),#9bb6be);
    color: rgb(248, 248, 248);
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
    
  }
  
  .login-box a:hover {
    color: #fff;
  }
  