<!--is responsible for bringing the template base.html which contains the top bar of the page-->
{% include 'base.html' %}


<!--the fields form." " are the fields of the forms previously created in the forms.py-->

<!---This template is in charge of updating the product data-->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="select" style="display: none;">
        {{form.usuario}}
    </div>
    
    <header class="header">
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre del producto:</label>
            {{form.nombreProduct}}
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Precio:</label>
            {{form.precio}}
        </div>
        <div class="form-floating">
            <p>informacion:</p>
            {{form.informacion}}
        </div>
        <br>
        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Date</label>
            <div class="col-10">
                {{form.fecha_adquisicion}}
            </div>
        </div>
        <br>
        <div class="mb-3">
        <label for="formFile" class="form-label">Imagen:</label>
            {{form.imagen}}
        </div>
        <input type="submit" value="enviar" class="btn btn-primary">
    </header>

</form>