<!--the load static, serves so that all the files css, img, js, etc. can be processed.-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{%static 'css/estilos.css' %}">
</head>
<body>
  <!--top navigation bar-->
    <nav>
      <ul class="menu">
        <li class="logo"><a href="#">{{user.username}}</a></li>
        <li class="item"><a href="{% url 'product:Descargar' %}">Descargar Excel</a></li>
        <li class="item"><a href="{% url 'product:ListarProductos' %}">Productos</a></li>
        <li class="item"><a href="{% url 'product:CrearProductos' %}">Agregar Productos</a></li>
        <li class="item button secondary"><a href="{% url 'login:logout' %}">Cerar Sesion</a></li>
      </ul>
</nav>
</body>
</html>