<!--is responsible for bringing the template base.html which contains the top bar of the page-->
{% include 'base.html' %}

<!--the fields form." " are the fields of the forms previously created in the forms.py-->
<!--form to create a user-->
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{from.errors}}
    <header class="header">     
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nombre del producto</label>
            <input type="text" class="form-control" name="producto" id="formGroupExampleInput" placeholder="Example input placeholder">
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Preciol</label>
            <input type="text" class="form-control" name="precio" id="formGroupExampleInput2" placeholder="Another input placeholder">
          </div>
        <div class="form-floating">
            <textarea class="form-control" name="informacion" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Informacion</label>
        </div>
        <br>
        <div class="form-group row">
            <label for="example-date-input" class="col-2 col-form-label">Fecha</label>
            <div class="col-10">
                <input type="date" name="fecha">
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label for="formFile" class="form-label">Imagen</label>
            <input class="form-control" type="file" id="formFile" name="img">
        </div>
        <input type="submit" value="enviar" class="btn btn-primary">
    </header>

</form>

