<!--is responsible for bringing the template base.html which contains the top bar of the page-->
{% include 'base.html' %}
<!--window to confirm the removal of a product-->
<div class="container py-4">
    <div class="row">
        <div class="col-md-10">
            <h2>Eliminar Cliente</h2>
            <form action="" method="POST">
                    {% csrf_token %}
                <div class="alert alert-danger alert-dismissible">
                    <h5><i class="icon fas fa-ban">Notificacion</i></h5>
                    ¿Estas seguro de eliminar el registro?
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-flat">
                        <i class="fas fa-times"></i>Si, caeptar
                    </button>
                    <a href="{% url 'product:ListarProductos' %}" class="btn btn-info btn-flat">
                        <i class="fas fa-times"></i>Cancelar
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>