<!--is responsible for bringing the template base.html which contains the top bar of the page-->
{% include 'base.html' %}

<!--template that serves to bring the list of a single product-->
<div class="col-md-10">
  <h2 style="text-align: center;">Productos</h2>
  <div class="table-responsive" style="text-align: center; margin-left: 10%;">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Nombre Producto</th>
                  <th>Precio</th>
                  <th>Informacion</th>
                  <th>Fecha adquisicion</th>
                  <th>imagen</th>
              </tr>
          </thead>
          <tbody>
              {% for a in object_list %}
              <tr>
                <td>{{a.nombreProduct}}</td>
                <td>{{a.precio}}</td>
                <td>{{a.informacion}}</td>
                <td>{{a.fecha_adquisicion}}</td>
                <td><img class="imagenes" src="/media/{{a.imagen}}" alt="" style="width: 50px; height: 40px;"></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
