<!--is responsible for bringing the template base.html which contains the top bar of the page-->
{% include 'base.html' %}

<!--template that brings all the products created by the user who is logged in-->
<div class="container py-4">
    <div class="row">
        <div class="col-md-10">
            <h2>Productos</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre Producto</th>
                            <th>Precio</th>
                            <th></th>
                            <th>Acciones</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for a in object_list %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{a.nombreProduct}}</td>
                          <td>{{a.precio}}</td>
                          <td>
                            <a href="{% url 'product:ActulizarProducto' a.id %}" class="btn btn-warning btn-xs btn-flat">
                                <i class="fas fa-edit">Actualizar</i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'product:EliminarProducto' a.id %}" class="btn btn-danger btn-xs btn-flat">
                                <i class="fas fa-edit">eliminar</i>
                            </a>
                        </td>
                        <td>
                            <a href="{% url 'product:VerProducto' a.id %}" class="btn btn-primary btn-xs btn-flat">
                                <i class="fas fa-edit">ver</i>
                            </a>
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal" tabindex="-1" role="dialog">
        </div>
    </div>
</div>

