<!--the load static, serves so that all the files css, img, js, etc. can be processed.-->
{% load static %}
<!--login template-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>“Mini sistema de información: Administración de
      productos”</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/login.css' %}">
  </head>
  <body>
    <div class="login-box">
      <img src="{%static 'img/logo.png' %}" class="avatar" alt="">
      <h1>Login</h1>
      <form method="POST" action="">
        {% csrf_token %}
        {% if form.errors %}
        <div class="login-box2">
          {{form.error_messages.invalid_login}}
        </div>
        {% endif %}
        <!--the fields form." " are the fields of the forms previously created in the forms.py-->
        <!-- USUARIO INPUT -->
        <label for="username">Usuario:</label>
        {{form.username}}
        <!-- CONTRASEÑA INPUT -->
        <label for="password">contraseña:</label>
        {{form.password}}
        <input type="submit" value="Log in" class="btn btn-primary">
        <br>
        <a href="{% url 'login:registrar' %}">registrarse</a>
      </form>
    </div>
  </body>
</html>
