<!--the load static, serves so that all the files css, img, js, etc. can be processed.-->
{% load static %}

<!--user registration template-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registrarse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/registrar.css' %}">
    
  </head>
  <body>

    <div class="login-box">
      <img src="{%static 'img/logo.png' %}" class="avatar" alt="">
      <h1>Login</h1>
      <!--the fields form." " are the fields of the forms previously created in the forms.py-->
      <form method="POST" action="">
        {% csrf_token %}
        <!-- USUARIO INPUT -->
        <label for="username">Username *:</label>
        {{form.username}}
        {% if form.errors.username %}
          <div class="login-box3">
            {{form.errors.username}}
          </div>
        {% endif %}
        <!-- NOMBRE INPUT -->
        <label for="username">Nombres *:</label>
        {{form.first_name}}
        <!-- APELLIDO INPUT -->
        <label for="username">Apellidos *:</label>
        {{form.last_name}}
        <!-- CORREO INPUT -->
        <label for="username">Correo *:</label>
        {{form.email}}
        <!-- CONTRASEÑA INPUT -->
        <label for="username">Contraseña *:</label>
        {{form.password1}}
        <!-- CONFIRMAR CONTRASEÑA INPUT -->
        <label for="password">Confirmar contraseña *:</label>
        {{form.password2}}
        {% if form.errors.password2 %}
          <div class="login-box2">
            {{form.errors.password2}}
          </div>
        {% endif %}
        
        <input type="submit" value="registrar" class="btn btn-primary">
        <br>
        <a href="{% url 'login:login' %}">ya tengo una cuenta</a>
      </form>
    </div>
  </body>
</html>


